@import 'defines';


// Colors for main
$btn_background_color: $alizarin;
$btn_background_color_highlight: $pomegranate;

$input_border: $alizarin;

$slider_background: $alizarin;

$border_color: $alizarin;

$result_border: $pomegranate;

@import 'main';