@import 'defines';


// Colors for main
$btn_background_color: $amethyst;
$btn_background_color_highlight: $wisteria;

$input_border: $amethyst;

$slider_background: $amethyst;

$border_color: $amethyst;

$result_border: $wisteria;

@import 'main';