@import 'defines';


// Colors for main
$btn_background_color: $brown;
$btn_background_color_highlight: $brown;

$input_border: $brown;

$slider_background: $brown;
$slider_border: $brown;

$border_color: $brown;

$result_border: $brown;
$result_text: $almost_black;

@import 'main';