@import 'defines';


// Colors for main
$btn_background_color: $emerald;
$btn_background_color_highlight: $nephritis;

$input_border: $emerald;

$slider_background: $emerald;

$border_color: $emerald;

$result_border: $nephritis;

@import 'main';