@import 'defines';

// Colors for main
$btn_background_color: $orange;
$btn_background_color_highlight: $sun_flower;

$input_border: $orange;

$slider_background: $orange;

$border_color: $orange;

$result_border: $sun_flower;

@import 'main';