@import 'defines';


// Colors for main
$btn_background_color: $turquoise;
$btn_background_color_highlight: $green_sea;

$input_border: $turquoise;

$slider_background: $turquoise;

$border_color: $turquoise;

$result_border: $green_sea;

@import 'main';