@import 'defines';


// Colors for main
$btn_background_color: $peter_river;
$btn_background_color_highlight: $belize_hole;

$input_border: $peter_river;

$slider_background: $peter_river;

$border_color: $peter_river;

$result_border: $belize_hole;

@import 'main';