<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Killer Gear</a>
    </div>
    <div class="navbar-collapse collapse">
      <form {{action 'search' on="submit"}} class="navbar-form navbar-right form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="query">Search</label>
          {{input type="search" id="global-search" classBinding=":form-control" value=query placeholder="Search for Gear"}}
        </div>
        <button type="submit" class="btn btn-default ">Search</button>
      </form>
    </div>
  </div>
</div>
{{outlet}}